.my_content {
    justify-content: left;
    width: 50%;
    /*font-weight: bold ;*/
    font-weight: 500;
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
}

.footnote {
    font-style: italic;
    font-weight: 200;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Height of the footer */
    background: #7c7c80;
}

.footer_image {
    height: 80%;

}

.footer_text {
    padding: 10px;
    color: whitesmoke;
}