{% extends 'layout.html' %}

{% block content %}
    <div class="my_content">
        Hi, I am Mahmud. Thanks for stopping by my homepage.
        I am a Phd candidate in <a target="_blank"
                                   href="https://www.ncsu.edu/">North Carolina
                                                                State
                                                                University</a>,
        Raleigh, NC, USA. in the department of <a
            href="https://www.ise.ncsu.edu/" target="_blank">Industrial and
                                                             Systems
                                                             Engineering</a
    >. A
        lot of the things I do in academics and
        research deal with <a
            href="https://en.wikipedia.org/wiki/Cyber-physical_system"
            target="_blank">Cyber-Physical Systems</a
    >, <a href="https://en.wikipedia.org/wiki/Digital_manufacturing"
          target="_blank">Digital Manufacturing</a>
        and
        applied <a href="https://en.wikipedia.org/wiki/Deep_learning"
                   target="_blank">Deep and Machine Learning</a> methods within
        the domains of
        manufacturing. I enjoy reading about history and geo-politics in my
        leisure time. Feel free to browse through the relevant sections if
        you would like to know more about me.

    </div>

{% endblock %}


{% block css %}
    <link rel="stylesheet" href="../static/css/content.css">
{% endblock %}