{% extends 'layout.html' %}
{% block content %}
    <div class="my_content">
        You can find my latest resume here. Got exciting employment
        offers? Dont hesitate to contact me. Reach me at :
        mhasan3[at]ncsu[dot]edu
        <ul>
            <li>
                <a href="../static/assets/Resume_MahmudHasan_vf.pdf"
                   target="_blank"> Resume</a>
            </li>
            <div class="footnote">Last updated 19th September 2020</div>
        </ul>
    </div>




{% endblock %}
{% block css %}
    <link rel="stylesheet" href="../static/css/content.css">
{% endblock %}